body{
    background-color: black;
    color: aqua;
    background-image: url(https://cdn.discordapp.com/attachments/796401776697409569/1281183482713997354/thumb-1920-1353167.png?ex=66daca99&is=66d97919&hm=98bcc539bcc00747fc9a13efae15ff6b7972b7180220d0832da786e7c5a28b4b&);
}

h1{
    color: rgb(170, 45, 45);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 650%;
    text-align: center;
}
p{
    font-size: 150%;
}
.heading1{
    color: rgb(221, 219, 217);
    text-align: left;
    border-radius: 100px;
    background-color: #b11c1c(255, 112, 255, 0.5); 
	padding: 60px;
/*box-shadow: 5px 5px 200px rgb(3, 50, 104); */
	border-radius: 50px;
	text-shadow: 0px 0px 10px #040b2f;
	position: relative;
	top: 0%;    
  left: 1px;
  opacity: 10;;
  width: 400px;
  font-size: 90%;
}
.container{
    color: rgb(247, 245, 243);
    
}
button{
    color: yellow;
    background-color: rgb(0, 0, 0);
    border-radius: 1500%;
    font-size: 250%;
    position: relative;
    top: 250px;
}   
.container{
    text-align: center;
}
.Settings{
    text-align: center;
}
