@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Poor+Story&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-image: url(https://cdn.discordapp.com/attachments/1086332652652601386/1097029477449597019/4808449.jpg);
	background-color: #acb7ce;
    font-family: 'Heebo', sans-serif;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-box{
	background-image: url(https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg);
	background-color: #a6baf7;
	padding: 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.login-box h1{
	color: #ffffff;
	text-align: center;
	margin-bottom: 20px;
}

.textbox{
	display: flex;
	border-bottom: 2px solid #f2f2f2;
	margin: 10px 0px;
	padding: 5px;
}

.textbox i{
	font-size: 20px;
	margin-right: 10px;
	color: #20da28;
}

.textbox input{
	border: none;
	outline: none;
	font-size: 16px;
	color: #ffffff;
	background: none;
	flex: 1;
}

.center-btn {
	display: flex;
	justify-content: center;
}

.btn{
	background-color: #2d39a7;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.btn:hover{
	background-color: #171817;
}

.forgot{
	margin-top: 20px;
	text-align: center;
}

.forgot a {
	color: #10c510;
	font-size: 14px;
	text-decoration: none;
}

.forgot a:hover{
	color: #5BC260;
}